In [1]:
from pandas import Series

In [2]:
Series([14, 7, 3, -7, 8])

0    14
1     7
2     3
3    -7
4     8
dtype: int64

In [4]:
s = Series([14, 7, 3, -7, 8], index=["a", "b", "c", "d", "e"])
s

a    14
b     7
c     3
d    -7
e     8
dtype: int64

In [5]:
s["a"]

14

In [6]:
s["c"] = -1
s

a    14
b     7
c    -1
d    -7
e     8
dtype: int64

In [7]:
s[["a", "c", "d"]]

a    14
c    -1
d    -7
dtype: int64

### EXERCISE

Create a Pandas Series with 10 or so elements where the indices are years and the values are numbers.
Make sure that the indices are set as integers, not strings.
Experiment with retrieving elements from the Series.

In [10]:
s = Series([5, 10, 15, 20, 25], index=[2016, 2017, 2018, 2019, 2020])
s

2016     5
2017    10
2018    15
2019    20
2020    25
dtype: int64

In [13]:
s[2017]

10

In [15]:
s[[2016, 2019]]

2016     5
2019    20
dtype: int64

In [16]:
my_list = [3, 6, 8, 4, 10]

In [17]:
my_list * 2

[3, 6, 8, 4, 10, 3, 6, 8, 4, 10]

In [18]:
my_series = Series(my_list)
my_series

0     3
1     6
2     8
3     4
4    10
dtype: int64

In [19]:
my_series * 2

0     6
1    12
2    16
3     8
4    20
dtype: int64

In [20]:
my_series - 1

0    2
1    5
2    7
3    3
4    9
dtype: int64

In [21]:
my_series < 8

0     True
1     True
2    False
3     True
4    False
dtype: bool

### Exercise

Create two Series objects of equal length with no specified index and containing any values you like.
Perform some mathematical operations on them and experiment to make sure it works how you think.
What happens then you perform an operation on two series which have different lengths?
How does this change when you give the series some indices?

In [22]:
s2 = Series([23,5,34,7,5])
s3 = Series([7, 6, 5,4,3])

In [23]:
s2 + s3

0    30
1    11
2    39
3    11
4     8
dtype: int64

In [25]:
s2 / s3

0    3.285714
1    0.833333
2    6.800000
3    1.750000
4    1.666667
dtype: float64

In [26]:
s4 = Series([23,5,34,7])
s5 = Series([7, 6, 5,4,3])

In [27]:
s4 + s5

0    30.0
1    11.0
2    39.0
3    11.0
4     NaN
dtype: float64

In [28]:
s4 = Series([23,5,34,7], index=["a", "b", "c", "d"])
s5 = Series([7, 6, 5,4,3], index=["a", "b", "c", "d", "e"])

In [29]:
s4 + s5

a    30.0
b    11.0
c    39.0
d    11.0
e     NaN
dtype: float64